.fuentes {
    margin-left: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-wrapper {
    width: 80%;
    max-width: 400px; /* Adjust the maximum width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-bottom: 10px;
}